.article {
  --black: #1A1A1A;

  max-width: 650px;
  padding: 2rem;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  color: var(--black);
}

.article-content {
  margin: 4rem 0 5rem 0;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
}

.article h1 {
  margin-bottom: 0;
  font-size: 2.5em;
}

.article h2 {
  margin-bottom: 0;
  margin-top: 2.5rem;
  line-height: 1.3;
}

.article p {
  margin-top: 1.5rem;
  line-height: 1.5;
}

.article hr {
  margin: 2.5rem 0;
  border: none;
  border-top: 1px solid var(--black);
  opacity: 0.4;
}

.article a {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  color: inherit;
}

.article a:hover {
  text-decoration: none;
}

.article ul,
.article ol {
  padding-left: 1.5rem;
}

.article li {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .article {
    font-size: 1.05rem;
  }
}