{{ define "title" }}
  <title>Kodezens</title>
{{ end }}

{{ define "source" }}
  <link rel="icon" href="../src/img/favicon.ico">
  <link rel="stylesheet" href="../src/css/normalize.css">
  <link rel="stylesheet" href="../src/css/reset.css">
  <link rel="stylesheet" href="../src/css/main.css">
  <style>
    :root {
      --clr-brand: #2e7d32;
    }
    .kodezens-logo {
      max-width: 75px;
    }
    .heading-2 {
      margin-top: 1.5rem;
    }
  </style>
{{ end }}

{{ define "main" }}
  {{- partial "header.html" . -}}
  
  <main class="main">
    <img src="../src/img/kodezens-logo.png" alt="Logo Kodezens" class="kodezens-logo">
    <h2 class="heading-2">Kodezens</h2>
    <p>Berbeda dengan <a href="/tulisan/">blog utama</a>, di halaman ini hanya berisi tulisan-tulisan yang khusus membahas tentang programming saja. I hope you enjoy it!</p>
    <ol class="list" reversed>
      {{ range .Pages }}
        <li class="list-item">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ol>   
  </main>
{{ end }}