{{ define "title" }}
  <title>Tulisan</title>
{{ end }}

{{ define "source" }}
  <link rel="icon" href="../src/img/favicon.ico">
  <link rel="stylesheet" href="../src/css/normalize.css">
  <link rel="stylesheet" href="../src/css/reset.css">
  <link rel="stylesheet" href="../src/css/main.css">
{{ end }}

{{ define "main" }}
  {{- partial "header.html" . -}}
  
  <main class="main">
    <h1 class="heading-2">Tulisan</h1>
    <ol class="list" reversed>
      {{ range .Pages }}
        <li class="list-item">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ol>
  </main>
{{ end }}