<!doctype html>
<html lang="id">
<head>
  <title>Tulisan</title>
  {{- partial "head.html" . -}}
  <link rel="icon" href="../img/favicon.ico">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <main>
    
    {{- partial "header.html" . -}}

    <section>
      <h1 class="stylish-heading">Tulisan</h1>
      <p>Dibawah adalah semua tulisan yang aku buat di blog ini, diurutkan dari yang terbaru:</p>
      <ol class="list-tulisan" reversed>
        {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ol>
    </section>

    {{- partial "footer.html" . -}}
    
  </main>
</body>
</html>