/*------------------------------------*\
  #MODERN-NORMALIZE
\*------------------------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	-moz-tab-size: 4;
	tab-size: 4;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
  font-family:
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

hr {
	height: 0;
	color: inherit;
}

abbr[title] {
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	text-indent: 0;
	border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
	box-shadow: none;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}





/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

:root {
  --black: #212121;
  --amber: #ff6f00;
  --light-amber: #ffc107;
  --blue: #1976d2;
  --light-blue: #64b5f6;
  --link: var(--blue);
  --link-dark: var(--light-blue);
  --light-gray: #f5f5f5;
}

body {
  color: var(--black);
  font-family: "Work Sans", sans-serif;
  font-size: 16.5px;
  line-height: 1.5;
}

main {
  margin: 0 auto;
  padding: 3rem 1.5rem;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.2;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  margin-top: 3rem;
  font-size: 1.6rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 1.5rem 0;
}

img {
  max-width: 100%;
}

hr {
  width: 30%;
  margin: 4rem auto;
  border: 0;
  border-top: 1px solid var(--black);
  opacity: 0.3;
}

ul, ol {
  padding-left: 1.75rem;
}

li {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 17px;
  }
}





/*------------------------------------*\
  #HOMEPAGE
\*------------------------------------*/

.homepage {
  margin-top: 4rem;
}

.homepage h1 {
  font-size: 2rem;
  line-height: 1.1;
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
  display: flex;
  margin-bottom: 7rem;
}

header a {
  display: block;
  margin-top: -3rem;
  padding: 0.5rem 1.5rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.15rem;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  background-color: var(--black);
  color: var(--light-gray);
}

header a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: var(--link-dark);
}





/*------------------------------------*\
  #TULISAN
\*------------------------------------*/

.list-tulisan {
  max-width: 450px;
}

.list-tulisan li {
  margin-bottom: 1rem;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -3rem;
  margin-top: 10rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1.5rem;
  font-size: 0.8em;
  background-color: var(--black);
  color: var(--light-gray);
}

.footer ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer li:first-child {
  list-style: none;
}

.footer li:not(:first-child) {
  margin-left: 20px;
}

.footer a {
  color: var(--link-dark);
}





/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

.stylish-heading {
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: var(--black);
}