@import "modern-normalize.css";

:root {
  --black: #212121;
  --green: #388e3c;
  --red: #f44336;
  --link: var(--red);
  --light-gray: #f5f5f5;
}

/* Global */
body {
  color: var(--black);
  font-family: "Work Sans", sans-serif;
  font-size: 16.5px;
  line-height: 1.5;
}

main {
  margin: 0 auto;
  padding: 3rem 1.5rem;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  line-height: 1.2;
}

h1 {
  font-size: 2.1em;
}

h2 {
  margin-top: 3rem;
  font-size: 1.6em;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 1.5rem 0;
}

img {
  max-width: 100%;
}

hr {
  margin: 3rem 0;
  border: 0;
  border-top: 1px solid var(--black);
  opacity: 0.3;
}

ul, ol {
  padding-left: 1.75rem;
}

li {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  body {
    font-size: 17px;
  }
}

/* Homepage */
.my-photo {
  display: block;
  max-width: 125px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.stylish-heading {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.9;
  color: var(--black);
}

.stylish-heading {
  margin-bottom: 2rem;
}

/* Brand Name */
.brand-name {
  display: block;
  width: 130px;
  height: 69px;
  margin-bottom: 3.5rem;
}

.brand-name img.hover {
  display: none;
}

.brand-name:hover img.hover {
  display: block;
}

.brand-name:hover img.default {
  display: none;
}

/* Article */
.article-list li {
  margin-bottom: 1rem;
}

.article {
  margin: 4rem 0;
}

/* Footer */
.footer {
  margin-top: 5rem;
  font-size: 0.8em;
}

/* Link */
.home-link {
  display: block;
  margin-bottom: 3rem;
}