{{ define "main" }}
<div class="homepage">

  <header>
    <a href="/" class="brand-name">
      <img src="./img/brand-logo.png" alt="" class="default">
      <img src="./img/brand-logo-hover.png" alt="" class="hover">
    </a>
  </header>

  <section>
    <h1 class="homepage-title">Hai! Namaku <br> <span>Febrian</span>, dan <br> salam kenal!</h1>
    <p>Aku orang yang suka <del>ngehalu</del> berpikir, bertanya, dan membuat sesuatu seperti <a href="https://www.instagram.com/kodezens">@kodezens</a> dan blog ini. Nah, kalau kamu kepo dengan isi blog ini, klik salah satu link dibawah (seterah kamu):</p>
    <ul>
      <li><a href="/tulisan/">Tulisan</a></li>
      <li><a href="/rekomendasi/">Rekomendasi</a></li>
    </ul>
    <p>Aku harap, beberapa tulisanku bisa membuat kamu tersinggung dan merasa tertampar, atau ada tulisan yang membuat kamu duduk dan berpikir keras tentang hidupmu yang fana ini. Karena jika itu terjadi, artinya tulisanku memberi manfaat untuk kamu.</p>
  </section>

  <hr>

  <section>
    <h2 class="stylish-heading">Disclaimer</h2>
    <p>Tulisan yang ada di QuikzensBlog biasanya berasal dari pengalaman & pendapat pribadiku sendiri, meski tak menutup kemungkinan aku juga akan melakukan riset kecil-kecilan untuk memastikan aku tak menulis tulisan yang sok tau & asal-asalan.</p>
    <p>Intinya, jangan percaya 100% pada apa yang kutulis disini, cari sumber yang lain, bereksperimen sendiri untuk mencari tau apakah saran yang ada di blog ini memang cocok untuk kamu atau tidak, ambil sebanyak mungkin "emas" dari tulisanku, buang sebanyak mungkin "pup" dari tulisanku.</p>
    <p>Keep Learning. Keep Thinking. Be Smart. Not Idiot.</p>
  </section>

  <hr>

  <section>
    <h2 class="stylish-heading">Kontak</h2>
    <p>Ingin bertanya tentang sesuatu? mau berdiskusi? berkenalan? atau untuk sekedar bilang hai? Kamu bisa hubungi aku lewat...</p>
    <ul>
      <li><a href="https://t.me/quikzens/" target="_blank">Telegram</a> (rekomendasi)</li>
      <li><a href="https://www.instagram.com/quikzens/" target="_blank">DM Instagram</a></li>
    </ul>
  </section>

</div>
{{ end }}