{{ define "main" }}
<div class="homepage">

  <section>
    <h1 class="homepage-title">Hai! Namaku <br> <span>Febrian</span>, dan <br> salam kenal!</h1>
    <p>Aku orang yang suka <del>ngehalu</del> berpikir, bertanya, dan membuat sesuatu seperti <a href="https://www.instagram.com/kodezens">@kodezens</a> dan blog ini. Nah, kalau kamu kepo dengan isi blog ini, klik salah satu link dibawah (seterah kamu):</p>
    <ul>
      <li><a href="/tulisan/">Tulisan</a></li>
      <li><a href="/rekomendasi/">Rekomendasi</a></li>
    </ul>
  </section>

</div>
{{ end }}