{{ define "main" }}
  <div class="homepage">
    <header class="homepage-header">
      <h1>Quikzens <br> Blog</h1>
      <p>Hai! Namaku Rian, orang yang pikirannya tak bisa diam, suka nulis buat ngilangin stress, dan membagikan tulisan yang kiranya bisa memberikan kamu manfaat :)</p>
    </header>
    <hr>
    <section>
      <h2>Daftar Artikel</h2>
      <p>(Untuk membaca artikelnya kamu sisa klik link dibawah)</p>
      <ul class="article-list">
        {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </li> 
        {{ end }}
        <!-- <li>
          <a href="https://quikzensblog.netlify.app/iklan-dan-insecure/">
            Iklan, si brengsek penyebab wanita jadi insecure
          </a>
        </li>      
        <li>
          <a href="https://quikzensblog.netlify.app/film-porno/">
            Nonton Film Porno Buat &#34;Belajar&#34;
          </a>
        </li>      
        <li>
          <a href="https://quikzensblog.netlify.app/hadiah/">
            Hadiah
          </a>
        </li> -->
      </ul>
    </section>
    <hr>
    <section>
      <h2>Kontak</h2>
      <p>Mau berdiskusi, berkenalan, atau untuk sekedar bilang hai? Kamu bisa hubungi aku lewat...</p>
      <ul>
        <li><a href="https://t.me/quikzens">Telegram</a></li>
      </ul>
    </section>
  </div>
{{ end }}